* {
  margin: 0;
  padding: 0;
}

.nav {
  width: 100%;
  background-color: greenyellow;
}
.nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
}
.nav ul a {
  text-decoration: none;
  color: black;
  font-size: larger;
  list-style: none;
}
.nav ul a:hover {
  transition: 1s ease;
  border-radius: 5px;
  color: white;
  background-color: green;
}
.nav ul li {
  padding: 15px;
  list-style: none;
}

.banner {
  padding: 15px;
}
.banner video {
  width: 100%;
  height: 100%;
}
.banner img {
  width: 100%;
  height: 100%;
  box-shadow: 0px 0px 15px 0px;
}

.intro {
  box-shadow: 0px 1px 15px 0px;
  margin: 10px;
  padding: 10px;
  background-color: rgb(161, 172, 182);
}
.intro h2 {
  color: white;
  font-style: oblique;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.intro p {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}

.menu {
  background-color: whitesmoke;
  border-radius: 5px;
  box-shadow: 0px 0px 20px 0px gray;
  margin: 20px;
  padding: 5px;
}
.menu .container {
  display: flex;
  flex-wrap: wrap;
  padding: 5px;
}
.menu .container .img-item {
  padding: 5px;
  width: 50%;
}
.menu .container .img-item img {
  width: 100%;
}
.menu .container .desc-item {
  margin: 20px;
  width: 35%;
  padding: 50px;
}
.menu .container .desc-item h3 {
  font-family: Georgia, "Times New Roman", Times, serif;
}

.footer {
  background-color: black;
  color: white;
  text-align: center;
  font-size: 20px;
  height: 30px;
}

.bckgdinfo {
  margin: 20px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.747);
  background-color: aliceblue;
}
.bckgdinfo h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 52px;
  color: rgb(71, 63, 53);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.bckgdinfo p {
  padding: 20px;
}
.bckgdinfo .sec {
  display: flex;
  padding: 5px;
}
.bckgdinfo .sec .mission {
  width: 50%;
  border: 2px solid gray;
  padding: 5px;
  margin: 5px;
}
.bckgdinfo .sec .objectives {
  width: 50%;
  border: 2px solid gray;
  padding: 20px;
  margin: 5px;
}

.services {
  padding: 15px;
  background-color: rgb(8, 65, 46);
}
.services h1 {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: white;
}
.services .serv-item {
  display: flex;
  flex-wrap: wrap;
}
.services .serv-item .item {
  background-color: greenyellow;
  margin: 15px;
  padding: 5px;
  width: 30%;
  border-radius: 5px;
}
.services .serv-item .item img {
  width: 100%;
}

.form {
  color: aliceblue;
  width: 50%;
  margin: auto;
  margin-left: 340px;
  margin-top: 40px;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 5px;
  background: url(../img/banner4.png);
  background-size: cover;
  padding: 20px;
}
.form form {
  padding: 25px;
  background: rgba(27, 36, 23, 0.384);
  border-radius: 5px;
}
.form form label {
  font-size: 22px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.form form input {
  height: 30px;
  border-radius: 5px;
  border: none;
  font-size: 20px;
  font-family: "Times New Roman", Times, serif;
}
.form form textarea {
  margin-left: 40px;
  width: 50%;
  border-radius: 5px;
  font-size: larger;
  font-family: Arial, Helvetica, sans-serif;
}
.form form button {
  padding: 5px;
  border-radius: 5px;
  border: none;
  width: 50%;
  font-size: larger;
  font-weight: 100px;
  margin-left: 40px;
}
.form form button:hover {
  color: rgb(235, 227, 224);
  font-size: larger;
  transition: 0.7s ease;
  background-color: rgb(33, 37, 26);
  box-shadow: 0 0 5px 0 white;
}

.socials {
  text-align: center;
  align-items: center;
}
.socials span {
  font: 25px sans-serif;
}
.socials a {
  color: blue;
  list-style: none;
  font-size: larger;
  -webkit-text-decoration: dotted;
          text-decoration: dotted;
}

.grad {
  width: 100%;
  height: 100%;
  background: radial-gradient(purple 30%, white);
}

.gallery-container {
  display: flex;
  flex-wrap: wrap;
}
.gallery-container .g-item {
  background-color: green;
  font-size: large;
  margin: 15px;
  padding: 5px;
  width: 30%;
}
.gallery-container .g-item img {
  width: 100%;
}

@media screen and (max-width: 600px) {
  * {
    margin: 0;
    border: 0;
  }
  .nav {
    background-color: aliceblue;
  }
  .nav ul {
    background-color: aquamarine;
    display: flex;
    width: 100%;
    padding: 5px;
  }
  .nav ul a {
    margin-left: 5px;
    text-decoration: none;
  }
  .nav ul a li {
    border-radius: 5px;
    padding: 5px;
    margin-left: 15px;
    list-style: none;
    background-color: white;
  }
  .grad {
    background: none;
  }
  .form {
    background-color: gray;
    background: url(../img/banner4.png);
    background-size: cover;
    background-repeat: no-repeat;
  }
  .form h1 {
    padding: 5px;
    text-align: center;
    font-size: 19px;
  }
  .form form {
    margin-top: 40px;
    margin-left: 40px;
  }
}/*# sourceMappingURL=style.css.map */